@font-face {
  font-family: 'LucidaGrande';
  src: local('LucidaGrande'), url(./fonts/LucidaGrande.ttf) format('truetype');
}

body{
  margin: 0;
  padding : 0;
}

.header{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: LucidaGrande;
  font-size: 28px;
  color: #eeeeee;
  padding: 10px;
  text-shadow: 0 2px 5px rbga(255, 255, 255,.5);
}

.profilePic{
  margin: 0;
  padding: 0;
  vertical-align: middle;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  position: fixed;
  top: 27.5%;
  border: 2px solid white;
  
}

.ant-tag {
  margin-bottom: 8px;
}

.tags{
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  position: fixed;
  top: 62.5%;
}

.whoami h1{
  margin: 20px;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.tab {
  position:relative; left: 3.5%;
}

.copyright{
  margin: 30px;
  vertical-align: middle;
  text-align: center;
  color: #111;
}