@font-face {
  font-family: 'LucidaGrande';
  src: local('LucidaGrande'), url(./fonts/LucidaGrande.ttf) format('truetype');
}

body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: LucidaGrande;
  font-size: 28px;
  color: #eeeeee;
  padding: 10px;
  text-shadow: 0 2px 5px rbga(255, 255, 255, .5);
  border: blanchedalmond;
  border-radius: 3px;
}

@media screen and (max-width:767px) and (orientation:landscape){
  .profilePic {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    position: fixed;
    top: 7.5%;
    border: 2px solid blanchedalmond;

  }
}

@media screen and (orientation:portrait){
  .profilePic {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    width: 135px;
    height: 135px;
    border-radius: 50%;
    position: fixed;
    top: 27.5%;
    border: 2px solid blanchedalmond;
  }
}

.ant-tag {
  margin-bottom: 8px;
}

.tags {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  position: fixed;
  top: 62.5%;
}

.whoami {
  font-family: LucidaGrande;
  position: fixed;
  text-align: center;
  padding: 20%;
  top: 0%;
}

.whoami h1 {
  margin: 0;
  padding: 0;
  font-family: LucidaGrande;
  text-align: center;
  font-weight: bold;
}

.skills {
  font-family: LucidaGrande;
  position: fixed;
  text-align: center;
  padding: 25%;
  ;
  top: 0%;

}

.skills h1 {
  font-family: LucidaGrande;
  margin: 0;
  padding: 0;
  text-align: center;
  font-weight: bold;
}

.copyright {
  position: fixed;
  width: 100%;
  color: #111;
  line-height: 40px;
  text-align: center;
  font-size: 0.9em;
  font-weight: bold;
  bottom: 0;
}